<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Quote Generator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
    
<body>
    <header>
        <h1>Daily Inspiration</h1>
        <nav class="navbar">
            <a href="/">Home</a> | 
            <a href="/about">About This Project</a>
        </nav>
    </header>

    <main class="section">
        <h2>Your Quotes:</h2>
        
        {% for quote in quote_list %}
            <div style="border: 1px solid #7d2525; padding: 10px; margin-bottom: 15px;">
                <p><strong>Quote:</strong> {{ quote }}</p>
            </div>
        {% endfor %}

    </main>

    <footer>
        <p>&copy; 2025 CoderLyst pty ltd</p>
    </footer>
</body>
</html>